# List of dependencies for the project
# pip install -r requirements.txt
fastapi   # for API framework
uvicorn   # server for FastAPI
requests  # for making HTTP requests
pytest    # To run tests
httpx     # Required by FastAPI test client