.app {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  font-family: sans-serif;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.controls {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-group {
  display: flex;
  flex-direction: row; /* Or column */
  text-align: left;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  background: #7b25eb;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background: #1e40af;
}
